---
const { project } = Astro.props;
---

<a
  class="flex flex-col bg-neutral-900 ring-2 ring-offset-neutral-900 ring-neutral-400 text-neutral-200 rounded-lg transition-all duration-200 hover:ring-offset-2 hover:scale-105 hover:ring-green-700"
  href={project.url}
  title=`Link to ${project.name}`
  target="_blank"
>
  <header
    class="px-4 py-2 grow bg-neutral-900 rounded-t-lg text-xl text-center"
  >
    {project.name}
  </header>
  <article class="flex-none mx-auto">
    <img src=`/project-covers/${project.cover}.jpg` alt="" />
  </article>
  <footer
    class="px-4 py-2 flex-none flex flex-row justify-between bg-neutral-900 rounded-b-lg text-sm text-right"
  >
    <div class="mx-auto flex flex-row gap-2 flex-wrap justify-center">
      {project.frameworks.map((framework: String) => <span>{framework}</span>)}
    </div>
  </footer>
</a>
